{% extends "base.html" %}
{% block title %}Status{% end %}
{% block sub %}{% end %}
{% block body %}
	<table width="100%">
	<th width="5%">ID</th>
	<th width="10%">User</th>
	<th width="10%">problemID</th>
	<th width="10%">Result</th>
	<th width="15%">Time</th>
	<th width="15%">Language</th>
	<th width="35%">Submit Time</th>
	
	{% for items in status_list %}
	<tr>
		<td> <center>{{items['_id']}} </center></td>
		<td> <center>{{items['user_name']}} </center></td>
		<td> <center>{{items['problem_id']}} </center></td>
		{% if not items['result'] %}
			<td><center>{{ 'Waiting' }}</center></td>
			<td><center>{{ '0' }}</center></td>
		{% else %}
			<td> <center>{{items['result']['result']}} </center></td>
			<td> <center>{{items['result']['time_used']}} </center></td>
		{% end %}
		{% if items['language_type'] == 'gcc' %}
			<td> <center> GNU C </center></td>
		{% elif items['language_type'] == 'g++' %}
			<td> <center> GNU C++ 4.7 </center></td>
		{% elif items['language_type'] == 'java' %}
			<td> <center> Java </center></td>
		{% end %}
		
		<td><center>{{items['submit_date']}} </center></td>
	</tr>
	{% end %}
	</table>

{% end %}
